<header class="row padding-vert">
    <div class="col-md-12">
        <span class="pull-left">DBlog</span>
        <ul class="nav pull-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="editor">Write</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="login">Logout</a>
            </li>
        </ul>
    </div>
</header>
<h3>Begin reading</h3>
<div id="feed-items" class="padding-horz">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-4 col-xs-6 padding-vert" ng-repeat="item in $ctrl.feed_items track by $index">
            <feed-item data=item></feed-item>
        </div>
    </div>
</div>
