<!-- <div class="card">
    <img class="card-img-top" src="http://laoblogger.com/images/image-of-a-book-5.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{$ctrl.data.title}}</h5>
        <p class="card-text">{{$ctrl.data.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->

<div class="feed-item-card">
    <img src="http://laoblogger.com/images/image-of-a-book-5.jpg" alt="Card image cap">    
    <div class="feed-item-data">
        <h6 class="feed-item-title">{{$ctrl.data.title}}</h6>
        <p class="feed-item-description">{{$ctrl.data.description}}</p>
    </div>
</div>