.feed-item-card {
    width: 100%;
    height: 140px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
    img {
        float: left;
        width: 100px;
    }
    .feed-item-data {
        float: left;
        width: 60%;
        margin-left: 8px;

        .feed-item-description{
            font-size: 12px;
        }
    }
}