#editor-container {
    height: 80%;
    padding-top: 32px;
    padding-bottom: 32px;

    #editor-actions {
        .nav-item {
            border: 1px solid #28a745;
            padding: 8px 12px 6px 12px;
            border-radius: 2px;
            min-width: 48px;
            min-height: 48px;
            font-size: 20px;
            color: #28a745;
            text-align: center;
            margin-right: 8px;
            cursor: pointer;
            &:hover {
                background: rgba(0, 0, 0, 0.05)
            }
        }
    }

    #editor {
        height: 100%;
        font-size: 20px;
        color: #333;
        overflow-y: auto;
        overflow-x: hidden;
        word-wrap: break-word;

        &:focus {
            outline: 0;
        }
    }
}

#url-getter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}