editor-basic {

    #editor-container {
        height: 80%;
        overflow-y: auto;
        padding: 32px;
        #editor-input {
            margin-top: 32px;
        }
        #editor-output {
            word-wrap: break-word;
            height: 300px;
            overflow-y: auto; 
        }
        textarea {
            width: 100%;
            height: 300px;
            resize: none;
        }
    }
}