<header class="row padding-vert">
    <div class="col-md-12">
        <span class="pull-left">DBlog</span>
        <ul class="nav pull-right">
            <li class="nav-item">
                <a class="nav-link"ui-sref="feed">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="editor">Advanced Editor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="login">Logout</a>
            </li>
        </ul>
    </div>
</header>

<div id="editor-container">
    <div class="row" id="editor-actions">
        <div class="col-md-12">
            <ul class="nav">
                <li class="nav-item" ng-click="$ctrl.openUrlGetterWindow('picture');">
                    <span class="action-item">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </span>                    
                </li>
                <li class="nav-item" ng-click="$ctrl.openUrlGetterWindow('video');">
                    <span class="action-item">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </span>                    
                </li>
                <li class="nav-item" ng-click="$ctrl.openUrlGetterWindow('audio');">
                    <span class="action-item">
                        <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                    </span>                        
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="editor-input">
        <div class="col-md-12">
            <textarea name="editorInput" ng-model="$ctrl.editorContent" ng-click="$ctrl.initClear()"></textarea>
        </div>
    </div>
    <div class="row" id="editor-output">
        <div class="col-md-12">
            <div id="editor-output-container" class="padding-full" ng-bind-html="$ctrl.editorContent">
    
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="margin-top: 32px;">
    <div class="col-md-12">
        <button class="btn btn-success">Publish</button>
        <button class="btn btn-light">Save</button>
        <button class="btn btn-light">Save & Exit</button>
    </div>
</div>

<!-- -------------- URL GETTER WINDOW:BEGIN -------------- -->
<div id="url-getter" ng-if="!$ctrl.hideUrlWindow">
    <form name="urlgetter" ng-submit="$ctrl.insertObject()">
        <div class="form-group">
            <label>Enter the URL</label>
            <input type="url" name="urlvalue" class="form-control" required ng-model="$ctrl.newObjectUrl">
            <p class="text-danger" ng-if="urlgetter.urlvalue.$invalid && urlgetter.urlvalue.$dirty">Enter a valid url</p>
        </div>
        <button class="btn btn-success" type="submit" ng-disabled="urlgetter.$invalid">Insert</button>
        <button class="btn btn-light" ng-click="$ctrl.closeUrlGetterWindow()">Cancel</button>
    </form>
</div>
<!-- -------------- URL GETTER WINDOW:END -------------- -->