<form ng-submit="$ctrl.login()" name="loginform">
    <!-- --------------- LOCAL LOGIN:BEGIN --------------- -->
        <div class="form-group">
            <label>Username</label>
            <input 
                type="text" 
                name="username" 
                class="form-control" 
                required 
                ng-model="$ctrl.loginDetails.username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input 
                type="password" 
                name="password" 
                class="form-control" 
                required 
                ng-model="$ctrl.loginDetails.password">
        </div>
        <button 
            type="submit" 
            class="btn btn-primary" 
            ng-disabled="loginform.$invalid">Sign in</button>
            <br>
        <a style="font-size: 12px; margin-top: 8px; margin-bottom: 8px;" href="#">Forgot Password</a>
        <a style="font-size: 12px; margin-top: 8px; margin-bottom: 8px;" href="#">Reset Password</a>
    <!-- --------------- LOCAL LOGIN:END --------------- -->

    <h6 class="text-center padding-vert">OR</h6>

    <!-- --------------- SOCIAL LOGIN:BEGIN --------------- -->
        <div id="login-social">
            <a class="btn btn-block btn-social btn-facebook" ng-click="$ctrl.authenticate('facebook')">
                <span class="fa fa-facebook"></span>
                Sign in with Facebook
            </a>
            <a class="btn btn-block btn-social btn-google" ng-click="$ctrl.authenticate('google')">
                <span class="fa fa-google"></span>
                Sign in with Google+
            </a>
        </div>
    <!-- --------------- SOCIAL LOGIN:END --------------- -->
</form>