login {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}
form {
    background: white;
    padding: 64px 48px;
    width: 60%;
    max-width: 500px;
    min-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    #login-social {
        color: white;
    }
}