@import './fontawesome/font-awesome.scss';
ul {
    margin: 0;
}

.padding-full {
    padding: 16px;
}

.padding-vert {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-horz {
    padding-left: 16px;
    padding-right: 16px;
}

.object-container {
    width: 100%;
    height: fit-content;
    .image-object {
        display: block;
        max-width: 60%;
        margin: 0 auto;
    }
    iframe {
        width: 100%;
    }
}

.btn-light {
    border: 1px solid #28a745;
    color: #28a745;
}

header {
    li a{
        color: #28a745;
    }
}